<h1>주문을 합시다</h1>

<form action="home/order" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  이    름 : <input type="text" name="name"><br>
  주문 물품 : <input type="text" name="product"><br>
  세    트 : <input type="checkbox" name="set"><br>
  음    료 : <input type="radio" name="drink" value="콜라">콜라
  <input type="radio" name="drink" value="제로콜라">제로콜라
  <input type="radio" name="drink" value="환타">환타
  <input type="radio" name="drink" value="사이다">사이다<br>
  사이즈 업 : <input type="checkbox" name="size_up"><br>
  <input type="submit" value="제출">

</form>
